doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet")
    title Business
    
  body    
    include sections/header
    include sections/title
    include sections/hero
    include sections/aboutus
    include sections/approach
    include sections/work
    include sections/footer 
