@mixin centerer-xy(){
  position: absolute;
  left: 50%;
  top: 50%;
  transition: translate(-50%,-50%)
}

@mixin centerer-x(){
  position: absolute;
  left: 50%;
  transition: translateX(-50%)
}

@mixin centerer-xy(){
  position: absolute;
  left: 50%;
  top: 50%;
  transition: translateY(-50%)
}
